@import url(imports/constants.css);
@import url(imports/variables.css);
@import url(components/header.css);

* {
    margin: 0;
    padding: 0;
}

body,
html {
    font-size: var(--fs-body);
    font-family: var(--ff-primary);
    color: var(--clr-black);
    height: 100%;
    max-width: 900px;
    margin: auto;
}

main {
    margin: var(--size-100);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-primary);
    color: var(--clr-white);
    padding: var(--size-200) 0;
    height: var(--size-1200);
}

h1,
h2,
a,
.cta {
    font-family: var(--ff-secondary);
    color: var(--clr-primary);
    font-weight: 500;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

hr {
    color: var(--clr-primary10);
    width: 100%;
}

.cta {
    background-color: var(--clr-tertiary);
    color: var(--clr-white);
    text-transform: uppercase;
    padding: .25rem .5rem;
    box-shadow: var(--box-shadow);
    border: 1px solid var(--clr-primary);
    border-radius: var(--radius-default);
    text-align: center;
    cursor: pointer;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.cart-item_remove {
    background-color: var(--clr-secondary);
    width: 2rem;
    justify-self: end;
}

.showcase {
    display: flex;
    flex-direction: column;
    gap: var(--size-50);
    align-items: center;
    text-align: center;
}

.showcase p {
    width: 70%;
}

.stacked {
    display: grid;
    margin-block: var(--size-50);
    box-shadow: var(--box-shadow);
    border-radius: var(--radius-default);
}

.stacked>* {
    grid-column: 1/2;
    grid-row: 1/2;
}

.column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--size-100);
}

.row {
    display: flex;
    gap: var(--size-100);
    overflow-x: scroll;
    scrollbar-width: thin;
}

.jackets_cards__card img {
    width: 8rem;
    height: 8rem;
    object-fit: contain;
    padding: var(--size-50);
    background-color: var(--clr-primary10);
}

.jackets_cards__card__stars {
    display: flex;
    align-items: center;
    gap: var(--size-50);
}

.jackets_amount {
    padding: var(--size-100);
    font-size: 0.75rem;
    text-align: center;
}

.filter {
    display: flex;
    cursor: pointer;
    color: var(--clr-primary);
}

.filter-label {
    font-weight: 400;
    font-family: var(--ff-secondary);
    color: var(--clr-tertiary);
    text-decoration: underline;
}

.filter-item,
.filter-options {
    background-color: var(--clr-white);
    width: 6rem;
}

.filter-options {
    display: none;
    position: absolute;
    box-shadow: var(--box-shadow);
    animation-duration: 0.5s;
    font-size: 1rem;
}

.filter-options_option,
.checkout-radio {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0.5rem;
}

.filter-active {
    color: var(--clr-tertiary);
    /* Replace 'red' with any color you want */
}

.filter-options_colordot {
    height: var(--size-50);
    width: var(--size-50);
    border-radius: var(--radius-circle);
}

.jacket-detail {
    display: grid;
    justify-content: center;
    gap: 0.25rem;
}

.jacket-detail_img-stars {
    display: grid;
    align-items: center;
}

.jacket-detail_img {
    justify-self: center;
    width: 90%;
    height: 15rem;
    object-fit: contain;
    padding: var(--size-100);
    background-color: var(--clr-primary10);
}

.jacket-detail_stars {
    display: flex;
    justify-content: end;
    gap: var(--size-50);
    color: var(--clr-primary);
}

.jacket-detail_color,
.jacket-detail_size {
    display: flex;
    justify-content: space-between;
    gap: var(--size-50);

}

.jacket-detail_color_option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--size-200);
    width: var(--size-200);
    border: 4px solid var(--clr-white);
    border-radius: var(--radius-circle);
    cursor: pointer;
    z-index: 0;
}

.jacket-detail_size_option {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 3rem;
    border: 4px solid var(--clr-white);
    background-color: var(--clr-primary10);
    padding: var(--size-50);
    cursor: pointer;
}

.faded {
    opacity: 0.2;
    cursor: not-allowed;
}

.selected {
    border: 4px solid var(--clr-primary);
}

dialog {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    gap: var(--size-100);
    padding: var(--size-100);
    border: 1px solid var(--clr-primary10);
    border-radius: var(--radius-default);
    width: 80%;
    max-width: 30rem;
}

.modal-content {
    display: grid;
    justify-content: center;
    text-align: center;
    gap: var(--size-100);
}

dialog::backdrop {
    background: #000000b0;
}

form {
    display: grid;
    gap: var(--size-50);
}

form input {
    height: 2rem;
}

form input,
textarea {
    width: 90%;
    border-radius: var(--radius-default);
    border: 1px solid var(--clr-primary);
    margin-top: 2px;
    padding-inline: var(--size-100);
}

input,
textarea {
    font-size: 1rem;
    font-family: sans-serif;
}

textarea {
    padding-top: var(--size-50);
}

.form-error {
    border: 2px solid var(--clr-red);
}

.hidden {
    display: none;
}

.checkout-complete_content {
    display: grid;
    gap: var(--size-50);
}

.checkout-subheader {
    background-color: var(--clr-primary);
    padding: var(--size-50);
}

.contact-info {
    display: grid;
    gap: var(--size-50);
}

.about-header img {
    height: 20rem;
    object-fit: cover;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: var(--size-50);
}

.slideInDown {
    animation-name: slideInDown;
}

.slideOutUp {
    animation-name: slideOutUp;
}

@keyframes slideInDown {
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOutUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-10%);
        opacity: 0;
    }
}

@media screen and (max-width: 700px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        width: 100%;
    }
}

@media screen and (min-width: 700px) {

    .showcase img {
        max-width: 70%;
    }

    .nav-links {
        position: relative;
        flex-direction: row;
        transform: translateX(0);
    }

    .categories {
        display: flex;
        gap: var(--size-100);
    }

    .column {
        justify-content: start;
    }

    .jacket-detail {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .contact,
    .about-img-article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--size-100);
        justify-content: center;
    }
}