
/* global */
/*
body {
    font-family: "Merriweather", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    padding: 0 3rem;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.75rem;
}

p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.stacked {
    display: grid;
}

.stacked>* {
    grid-column: 1/2;
    grid-row: 1/2;
}

.stacked h1 {
    text-align: left;
    padding: 0 0.5rem;
    margin: 0;
}

/* shared styles */

/*
p,
nav a {
    font-size: 1rem;
}

h1,
h2,
header,
.categories p,
.product_info__price,
.product_info__size__size {
    font-family: "Oswald", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
.header,
.title,
nav a,
.nav__icons a,
.nav__icons p,
.stars,
.stars-web,
.products__cards p,
.more-arrow,
.fa-bars,
.product_info__price,
.product_info__size__size {
    color: #183540;
}

.title,
nav a,
.cta,
.categories__card p,
.categories__card h1,
footer a,
.mobile-nav-list {
    text-transform: uppercase;
}

.cta,
.categories__card p,
.categories__card h1,
footer a,
footer,
.mobile-nav-list a {
    color: #fff;
}

.plus_sign {
    font-size: 1.5rem;
}

.center_text {
    text-align: center;
}

.red_color {
    color: #A23E48;
}

.blue_color {
    color: #183540;
}

.dark_background {
    background-color: rgba(0, 0, 0, 0.2);
}

.underline {
    text-decoration: underline;
}

.overline {
    text-decoration: line-through;
}

.center {
    justify-content: center;
}

.total {
    margin-top: 1rem;
}

.total p {
    font-weight: 500;
} 

/* products */

/* .products p,
label {
    font-size: 0.8rem;
}

.products__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    gap: 3rem;
    margin-bottom: 2rem;
}

.products__card img {
    height: 150px;
    width: 150px;
    object-fit: contain;
    background-color: #18354010;
    padding: 0.25rem;
}

.stars {
    display: flex;
    align-items: center;
}

/* header */

/* header {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    align-items: center;
    margin-bottom: 1.5rem;
}

.success_header {
    display: flex;
    justify-content: center;
}

.title {
    font-size: 2.5rem;
    letter-spacing: 10px;
}

nav a {
    letter-spacing: 2px;
    padding: 0 0 20px 20px;
    justify-content: center;
}

nav a:hover {
    text-decoration: underline 2px;
}

.nav__icons,
.stars-web {
    display: flex;
    align-items: center;
}

.nav__icons a {
    padding: 0 10px 0 5px;
}

.checkout_header a {
    margin: 0 1rem;
}

/* footer */

/* footer {
    text-align: center;
    background-color: #183540;
    position: absolute;
    width: 100%;
    left: 0;

}

.footer__links {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

footer a {
    text-decoration: underline;
    height: 48px;
}

footer p {
    text-align: center;
    margin-bottom: 10px;
}

.icon {
    padding: 1rem 0.25rem;
}

/* index */

/* .welcome {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.welcome>* {
    align-self: center;
    margin: 0.5rem;
}

.welcome__img {
    width: 80%;
}

.welcome p {
    width: 190px;
    text-align: center;
}

.cta {
    background-color: #A23E48;
    padding: 0.5rem 3rem;
    text-align: center;
    display: block;
    margin: 1rem 0;
}

.categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
}

.categories__card img {
    width: 100%;
}

.categories__card p {
    font-size: 1.8rem;
    padding-left: 0.5rem;
}

.about_images {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

/* product info */

/* .product_info__color {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0rem, 1fr));
    gap: 2rem;
    margin-bottom: 1rem;
}

.product_info__color span {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
}

#grey-bg {
    background-color: #59565B;
}

#darkblue-bg {
    background-color: #183540;
}

#lightblue-bg {
    background-color: #326C85;
}

#darkred-bg {
    background-color: #592227;
}

#lightred-bg {
    background-color: #A23E48;
}

.product_info__size {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.product_info__size__size {
    background-color: #18354010;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 1.2rem;
}

.product_info .stars {
    justify-content: end;
}

.product_info__name {
    text-align: start;
    margin: 0;
}

.product_info__price {
    margin-bottom: 1rem;
}

.product_info__expansionTile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: solid 2px #18354010;
}

.last {
    border-bottom: solid 2px #18354010;
}

.product_info__color span:hover,
.product_info__size__size:hover {
    cursor: pointer;
    box-shadow: 0 0 0 2px #183540 inset;
}

/* jackets | mens, womens, all */

/* .filter_sort {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.page_selector {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0;
}

.page_selector p:hover,
.page_selector i:hover,
.product_info__expansionTile:hover {
    cursor: pointer;
}

/* checkout */

/* .contact_info,
.checkout_form {
    margin: 1rem 1rem;
}

.checkout_summary,
.checkout_review {
    background-color: #18354010;
    padding: 1rem;
    margin-bottom: 1rem;
}

.checkout_summary__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.checkout_summary__middle,
.checkout_summary__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.checkout_summary__top__image {
    width: 80%;
    aspect-ratio: 1/1;
}

.checkout_summary__bottom__text,
.checkout_review__text {
    display: flex;
    justify-content: space-between;
}

.summary_header {
    margin: 0;
    padding: 0;
    text-align: left;
}

.checkout_header {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    justify-content: space-between;
}

.checkout_form a {
    display: flex;
    justify-content: center;
}

/* forms */
/* textarea {
    width: 100%;
}

input,
select {
    padding: 5px;
    width: 100%;
    margin-bottom: 0.2rem;
}

label::after {
    content: "";
    display: block;
}

.form_header {
    text-transform: uppercase;
    margin: 1rem 0;
    text-align: left;
}

.radio {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

/* about */

/* .about img {
    height: 20rem;
    object-fit: cover;
}

.about__images,
.about__center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.about__images img,
.about__center img {
    width: 95%;
    aspect-ratio: 1/1;
    margin: 1rem 0;
}

/* success */

/* .success_container {
    background-color: #18354010;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    transform: translate(0, 20%);
}

.success_container a {
    width: 150px;
}

/* media queries */

/* mobile */
/* @media (max-width: 500px) {

    h1,
    h2 {
        font-size: 1.5rem;
    }

    .title {
        font-size: 2rem;
        padding: 1rem 0;
    }

    p,
    label {
        font-size: 0.69rem;
    }

    .mobile-nav {
        padding: 0.2rem;
    }

    .continue {
        display: none;
    }
}

/* larger screens */
/* @media (min-width: 800px) {

    .mobile-nav,
    .filter_sort,
    .product_info .stars {
        display: none;
    }

    body {
        max-width: 1000px;
        margin: auto;
    }

    .welcome p {
        width: 70%;
    }

    .products-container,
    .product_info {
        display: flex;
    }

    .products {
        flex: 4;
    }

    .filter_sort__web,
    .product_info img,
    .product_info__info {
        flex: 1;
        margin-right: 1rem;
    }

    .product_info__image {
        padding: 1rem;
        aspect-ratio: 1/1;
        margin-bottom: 1rem;
    }

    .about__images {
        display: none;
    }

    .product_info__price {
        font-size: 1.8rem;
        margin: 0;
    }

    .product_info__size {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .stars-web {
        margin-bottom: 1rem;
    }

    .checkout_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 20%;
    }

    .checkout_summary {
        height: 40%;
        margin: 0 1rem;
    }
}

@media (max-width: 799px) {
    body {
        padding: 0;
    }

    main {
        padding: 0 3rem
    }

    nav,
    .nav__icons p {
        display: none;
    }

    header {
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
    }

    .nav__icons {
        justify-content: center;
    }

    .filter_sort__web,
    .stars-web {
        display: none;
    }

    .product_info__image {
        width: 100%;
        aspect-ratio: 1/1;
    }

    .about__center {
        display: block;
    }


    /* hamburgerhack */

    /* .mobile-nav {
        text-align: center;
    }

    .mobile-nav input {
        display: none;
    }

    .mobile-nav label:hover {
        cursor: pointer;
    }

    #hamburger:checked~.mobile-nav-list {
        display: flex;

    }

    .mobile-nav-list {
        display: none;
        background-color: #183540;
        position: absolute;
        width: 10rem;
        padding-top: 1rem;
        margin-top: 10px;
        flex-direction: column;
        text-align: start;
    }
} */ 

@import url(imports/constants.css);
@import url(imports/variables.css);

* {
    margin: 0;
    padding: 0;
  }

body, html {
    font-size: var(--fs-body);
    font-family: var(--ff-primary);
    color: var(--clr-black);
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--size-50) var(--size-100);
}

main {
    margin: var(--size-100);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-primary);
    color: var(--clr-white);
    padding: var(--size-200) 0;
    height: var(--size-1200);
}

h1, h2, a {
    font-family: var(--ff-secondary);
    color: var(--clr-primary);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.nav-links {
    transition: all var(--dur-default) ease;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    background: var(--clr-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--size-100);
    width: 100%;
    transform: translateX(-100%);
    z-index: 1; /* Add this line to ensure the nav menu overlays other content */
}

.menu-close {
    display: none;
    position: absolute;
    left: var(--size-100);
    top: var(--size-100);
    z-index: 2;  /* Add this line to ensure the close button overlays the nav menu */
}

.nav-links.show {
    transform: translateX(0);
}

.nav-links.show .menu-close {
    display: block;
}

.cta {
    background-color: var(--clr-secondary);
    color: var(--clr-white);
    text-transform: uppercase;
    padding: var(--size-50) var(--size-400);
}

.showcase {
    display: flex;
    flex-direction: column;
    gap: var(--size-50);
    align-items: center;
    text-align: center;
}

.stacked {
    display: grid;
    margin-block: var(--size-50);
    box-shadow: var(--box-shadow);
    border-radius: var(--radius-default);
}

.stacked > * {
    grid-column: 1/2;
    grid-row: 1/2;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: var(--size-50);
}

@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
    }
    
    .nav-links {
        width: 100%;
    }
}

@media screen and (min-width: 769px) {
    .nav-links {
        position: relative;
        height: auto;
        background: transparent;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: auto;
        transform: translateX(0);
    }
}