/* VARIABLES */

@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Oswald&display=swap');

:root {
    /* colors */
    --clr-primary: #183540;
    --clr-secondary: #A23E48;
    --clr-tertiary: #326C85;

    --clr-primary10: #18354010;
    --clr-primary80: #18354080;

    --clr-white: #fff;
    --clr-black: #000;
    --clr-black50: #00000050;

    --clr-grey: #99A1A6;
    --clr-orange: #FE5F00;
    --clr-red: #F03A47;
    --clr-pink: #DB7F8E;
    --clr-blue: #4D9DE0;

    /* typography */
    --ff-primary: 'Merriweather', sans-serif;
    --ff-secondary: 'Oswald', serif;

    --fs-100: 0.5rem;
    --fs-200: 0.75rem;
    --fs-300: 1rem;
    --fs-500: 1.5rem;
    --fs-600: 2rem;
    --fs-700: 2.25rem;

    --tt-cap: capitalize;
    --tt-upper: uppercase;

    /* sizes */
    --size-50: .5rem;
    --size-100: 1rem;
    --size-150: 1.5rem;
    --size-200: 2rem;
    --size-300: 3rem;
    --size-1200: 12rem;

    /* box-shadow */
    --box-shadow: 2px 1px 8px 0 var(--clr-black50);

    /* duration */
    --dur-default: 0.5s;

    /* border-radius */
    --radius-default: 4px;
    --radius-circle: 50%;
}