/* global */

body {
    font-family: "Merriweather", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #212121;
    padding: 20px 40px;
    max-width: 1000px;
    margin: auto;
    
}

h2 {
    font-family: "Oswald", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #183540;
    font-size: 2.5rem;
    text-align: center;
}

p {
    font-size: 1rem;
}

/* header */

header {
    display: flex;
    align-items: center;
    font-family: "Oswald", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    color: #183540;
    max-width: 1000px;
}

.navbar_title a {
    flex: 1;
    text-transform: uppercase;
    font-size: 3rem;
    text-decoration: none;
    color: #183540;
    letter-spacing: 10px;
}

.navbar_links {
    flex: 2;
    text-align: center;
}

.navbar_icons {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: end;
}

.fa-magnifying-glass {
    padding-right: 30px;
}

.fa-cart-shopping {
    padding-right: 5px;
}

nav a {
    text-transform: uppercase;
    font-size: 1.2rem;
    text-decoration: none;
    color: #183540;
    letter-spacing: 2px;
    padding: 0px 0px 20px 20px;
}

nav a:hover {
    text-decoration: underline 3px;
}

/* main - welcome */

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome > * {
    margin: 10px;
}

.welcome p {
    width: 190px;
    text-align: center;
}

.welcome img {
    max-width: 60vh;
}

.cta {
    background-color: #A23E48;
    color: #fff;
    padding: 5px 70px;
    text-transform: uppercase;
    font-size: 0.8rem;
    text-decoration: none;
}

/* main - categories */

.categories {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px;
    gap: 10px;
}


.category_men, .category_women {
    background-size: contain;
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Oswald", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    padding: 0px 10px;
    text-decoration: none;
}

.category_men {
    background-image: url(../images/men.jpg);
}

.category_women {
    background-image: url(../images/women.jpg);
}

/* main - popular products */


/* footer */

footer {
    background-color: #183540;
    text-align: center;
    color: #fff;
}
