/* global */

body {
    font-family: "Merriweather", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    padding: 0 3rem;
}

h1, h2 {
    font-size: 2.2rem;
    text-align: center;
}

p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.stacked {
    display: grid;
}

.stacked > * {
    grid-column: 1/2;
    grid-row:  1/2;
}

.small_text {

    font-size: 0.69rem;
}

/* shared styles */

p, nav a {
    font-size: 1rem;
}

h1, h2,
header,
.categories p, .product_info__price, .product_info__size__size {
    font-family: "Oswald", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,h2,
.header,
.title,
nav a,
.nav__icons a,
.nav__icons p,
.stars,
.popular-products__cards p,
.more-arrow,
.fa-bars, 
.product_info__price, .product_info__size__size {
    color: #183540;
}

.title,
nav a,
.cta,
.categories__card p,
footer a,
.mobile-nav-list {
    text-transform: uppercase;
}

.cta, 
.categories__card p,
footer a,
footer, 
.mobile-nav-list a {
    color: #fff;
}


/* header */

header {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    align-items: center;
}

.title {
    font-size: 2.5rem;
    letter-spacing: 10px;
}

nav a {
    letter-spacing: 2px;
    padding: 0 0 20px 20px;
    justify-content: center;
}

nav a:hover {
    text-decoration: underline 2px;
}

.nav__icons {
    display: flex;
    align-items: center;
}

.nav__icons a {
    padding: 0 10px 0 5px;
}

/* main - welcome */

.welcome {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.welcome > * {
    align-self: center;
    margin: 0.5rem;
}

.welcome__img {
    width: 80%;
}

.welcome p {
    width: 190px;
    text-align: center;
}

.cta {
    background-color: #A23E48;
    padding: 0.5rem 3rem;
    text-align: center;
    display: block;
}

/* main - categories */

.categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
}

.categories__card img {
    width: 100%;
}

.categories__card p {
    font-size: 1.8rem;
    padding-left: 0.5rem;
}

/* main - popular products */

.popular-products p {
    font-size: 0.8rem;
}

.popular-products__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    gap: 3rem;
    margin-bottom: 6rem;
} 

.popular-products__card img, .product_info__image  {
    width: 100%;
    aspect-ratio: 1/1.1;
    padding: 1rem 0;
    background-color: #18354010;
}

.stars {
    display: flex;
    align-items: center;
}


.stars p {
    padding-left: 0.2rem;
}

/* footer */

footer {
    text-align: center;
    background-color: #183540;
    position: absolute;
    width: 100%;
    left: 0;
}

.footer__links {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

footer a {
    text-decoration: underline;
}

footer p {
    text-align: center;
    margin-bottom: 10px;
}

.icon {
    padding: 1rem 0.25rem;
}

/* product info */

.product_info__color {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0rem, 1fr));
    gap: 2rem;
    margin-bottom: 1rem;
}

 .product_info__color span {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: inline-block;
}

.circle1 {
    background-color: #59565B;
}

.circle2 {
    background-color: #183540;
}

.circle3 {
    background-color: #326C85;
}

.circle4 {
    background-color: #592227;
}

.circle5 {
    background-color: #A23E48;
}

.product_info__size {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
    gap: 0.5rem;
    margin-bottom: 1rem;

}

.product_info__size__size {
    background-color: #18354010;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 1.2rem;
}

.product_info .stars  {
    justify-content: end;
}

.product_info__name {
    text-align: start;
    margin: 0;
}

.product_info__price {
    margin-bottom: 1rem;
}

/* media queries */

@media (max-width: 500px) {
    h1, h2 {
        font-size: 1.5rem;
    }

    .title {
        font-size: 2rem;
        padding: 1rem 0;
    }

    .mobile-nav {
        padding: 0.2rem;
    }
}

@media (min-width: 800px) {
    .mobile-nav {
        display: none;
    }

    body {
        max-width: 1000px;
        margin: auto;
    }
}

@media (max-width: 799px) {

    body {
        padding: 0;
    }

    main {
        padding: 0 3rem
    }

    nav, .nav__icons p {
        display: none;
    }

    header {
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
    }

    .nav__icons {
        justify-content: center;
    }

    /* hamburgerhack */

    .mobile-nav {
        text-align: center;
    }

    .mobile-nav input {
        display: none;
    }

    .mobile-nav label:hover {
        cursor: pointer;
    }

    #hamburger:checked  ~ .mobile-nav-list {
        display: flex;
        
    }

    .mobile-nav-list {
        display: none;
        background-color: #183540;
        position: absolute;
        width: 10rem;
        padding-top: 1rem;
        margin-top: 10px;
        flex-direction: column;
        text-align: start;
    }
}