/* global */

body {
    font-family: "Merriweather", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #212121;
    padding: 20px 40px;
    max-width: 1000px;
    margin: auto;
    
}

h2 {
    font-family: "Oswald", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #183540;
    font-size: 2.5rem;
    text-align: center;
}

p {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #212121;
}

/* header */

header {
    display: flex;
    align-items: center;
    font-family: "Oswald", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #183540;
    max-width: 1000px;
}

.navbar_title a {
    flex: 1;
    text-transform: uppercase;
    font-size: 3rem;
    text-decoration: none;
    color: #183540;
    letter-spacing: 10px;
}

.navbar_links {
    flex: 3;
    text-align: center;
}

.navbar_icons {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-evenly;
}


nav a {
    text-transform: uppercase;
    font-size: 1.2rem;
    text-decoration: none;
    color: #183540;
    letter-spacing: 2px;
    padding: 0px 0px 20px 20px;
}

nav a:hover {
    text-decoration: underline 3px;
}

.fa-bars {
    display: none;
}

/* main - welcome */

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome > * {
    margin: 10px;
}

.welcome p {
    width: 190px;
    text-align: center;
}

.welcome img {
    width: 50vh;
}

.cta {
    background-color: #A23E48;
    color: #fff;
    padding: 5px 70px;
    text-transform: uppercase;
    font-size: 0.8rem;
    text-decoration: none;
}

/* main - categories */

.categories {
    display: flex;
    margin: 20px 0px;
    gap: 10px;
}


.category_men, .category_women {
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    height: 500px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Oswald", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    padding: 0px 10px;
    text-decoration: none;
}

.category_men {
    background-image: url(../images/men.jpg);
}

.category_women {
    background-image: url(../images/women.jpg);
}

/* main - popular products */

.popular-products {
    display: flex;
    gap: 40px;
    max-width: 1000px;
    margin: 0 0 60px 0;
}

.popular-products_product img {
    background-color: #18354010;
    width: 60%;
    height: 100px;
    padding: 40px;
}

.stars {
    display: flex;
    align-items: center;
}

.stars p {
    padding-left: 5px;
}

.more-arrow {
    margin-top: 80px;
}

/* footer */

footer {
    text-align: center;
    background-color: #183540;
    color: #fff;
    position: absolute;
    width: 100%;
    left: 0;
}

.footer_links {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

footer a {
    text-decoration: underline;
    text-transform: uppercase;
    color: #fff;
}

footer p {
    text-align: center;
    margin-bottom: 10px;
}

.icon {
    padding: 15px 5px 15px 5px;
}

/* media queries */

@media (max-width: 870px) {
    .popular-products p, .popular-products {
        font-size: 0.7rem;
    }
    
    .navbar_title a {
        flex: 2;
        font-size: 2.5rem;
    }
    
    .navbar_links {
        display: none;
    }
    
    .navbar_icons {
        flex: 1;
        justify-content: end;
        gap: 10px;
    }
    
    nav a {
        font-size: 1.2rem;
    }

    .fa-bars {
        display: flex;
        flex: 1;
    }

    .category_men, .category_women {
        height: 300px;
    }

    .popular-products {
        display: flex;
        justify-content: space-between;
        gap: 0;
    }
    
    .popular-products_product img {
        padding: 10px;
        width: 70px;
        height: 100px;
    }

    .more-arrow {
        margin-top: 50px;
    }
}