/* global */

body {
    font-family: "Merriweather", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1000px;
    margin: auto;
    padding: 0 3rem;
}

h2 {
    font-size: 2.2rem;
}

p {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.stacked {
    display: grid;
}

.stacked > * {
    grid-column: 1/2;
    grid-row:  1/2;
}

/* shared styles */

p, .nav__links a {
    font-size: 1rem;
}

h2,
header,
.categories p {
    font-family: "Oswald", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2,
.header,
.title,
.nav__links a,
.nav__icons a,
.nav__icons p,
.stars,
.popular-products__cards p,
.more-arrow  {
    color: #183540;
}

.title,
.nav__links a,
.cta,
.categories__card p,
footer a {
    text-transform: uppercase;
}

/* header */

header {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    align-items: center;
}

.title {
    font-size: 2.5rem;
    letter-spacing: 10px;
}

.nav__links a {
    letter-spacing: 2px;
    padding: 0px 0px 20px 20px;
}

nav a:hover {
    text-decoration: underline 2px;
}

.nav__icons {
    display: flex;
    align-items: center;
}

.nav__icons a {
    padding: 0 10px 0 5px;
}

/* main - welcome */

.welcome {
    display: flex;
    flex-direction: column;
    margin: 0 0 2rem 0;
}

.welcome > * {
    align-self: center;
    margin: 0.5rem;
}

.welcome__img {
    width: 69%;
}

.welcome p {
    width: 190px;
    text-align: center;
}

.cta {
    background-color: #A23E48;
    color: #fff;
    padding: 0.5rem 4rem;
}

/* main - categories */

.categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    justify-content: center;
    gap: 1rem;
}

.categories__card img {
    width: 100%;
}

.categories__card p {
    color: #fff;
    font-size: 1.5rem;
    padding:  0 0 0 0.5rem;
}

/* main - popular products */

.popular-products h2 {
    text-align: center;
}

.popular-products p {
    font-size: 0.8rem;
}

.popular-products__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    justify-content: center;
    gap: 3rem;
    margin-bottom: 6rem;
} 

.popular-products__cards img {
    width: 100%;
    aspect-ratio: 1/1.1;
    padding: 1rem;
    background-color: #18354010;
}

.stars {
    display: flex;
    align-items: center;
}

.stars p {
    padding-left: 0.2rem;
}

/* footer */

footer {
    text-align: center;
    background-color: #183540;
    color: #fff;
    position: absolute;
    width: 100%;
    left: 0;
}

.footer__links {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

footer a {
    text-decoration: underline;
    text-transform: uppercase;
    color: #fff;
}

footer p {
    text-align: center;
    margin-bottom: 10px;
}

.icon {
    padding: 15px 5px 15px 5px;
}